.services-wrapper  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-header {
  text-align: center;
  font-weight: 100;
  margin: 100px 0px 70px;
  color: #3c3050;
}
