.services-wrapper  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.services-header {
  text-align: center;
  font-weight: 100;
  margin: 100px 0px 70px;
  color: #3c3050;
}

.service {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0px 20px;
}

.service-icon {
  max-width: 100%;
  height: 100px;
  width: 100px;
}

.service h3 {
  font-size: 25px;
  font-weight: 100px;
  margin: 25px 0px 5px;
}

.service-description {
  margin: 0 auto;
}

@media only screen and (min-width: 760px) {
  .service {
    height: 420px;
    width: 18%;
  }

  .service-icon {
    height: 150px;
    width: 150px;
  }
}
