* {
  box-sizing: border-box;
}

html, body, nav, ul, li, a, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0 auto;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  line-height: 28px;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 40px;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  line-height: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 100;
  line-height: 24px;
}

p {
  font-size: 20px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

/* Utility Classes */
.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
