.project {
  margin: 20px;
}
.project img {
  height: 260px;
  width: 360px;
  cursor: pointer;
  -moz-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.project:hover img {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
