/* First Screen Hero Image */

.home-hero-wrapper {
  height: 80vh;
}

.hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-hero-logo {
  height: 124px;
  width: 124px;
}

.home-hero-header {
  height: 43px;
  width: 212px;
}

.home-hero-header-2 {
  height: 40px;
  width: 217px;
}

.home-hero-subheader {
  height: 33px;
  width: 219px;
  margin: 0 auto;
  padding: 10px 0px;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #fff;
  color: #2b0056;
  text-align: center;
}

@media only screen and (min-width: 760px) {
  .home-hero-logo {
    height: 157px;
    width: 169px;
  }

  .home-hero-header {
    height: 72px;
    width: 277px;
  }

  .home-hero-header-2 {
    height: 55px;
    width: 282px;
  }

  .home-hero-subheader {
    height: 40px;
    width: 280px;
    font-size: 22px;
    letter-spacing: 2px;
  }
}


/* Tagline */

.tagline {
  padding: 0px 30px;
  text-align: center;
  line-height: 40px;
  text-align: center;
  color: #424447;
}

.tagline h2 {
  font-weight: 100;
}

@media only screen and (min-width: 760px) {
  .tagline {
    padding: 0px 100px;
  }
}


/* Global Reach Hero Image */

.global-reach-hero {
 height: 100vh;
}

.global-reach-hero {
 background-attachment: fixed;
}

.global-reach-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-reach-hero-content h1, h2 {
  font-weight: 100;
  text-align: center;
}

.global-reach-hero-content h1 {
  margin: 30px 0px;
}

.global-reach-hero-content h2 {
  margin: 10px 30px;
}

@media only screen and (min-width: 760px) {

  .global-reach-hero {
   height: 420px;
  }

  .global-reach-hero-content h2 {
    margin: 10px 20px;
  }
}
