/* First Screen Hero Image */

.home-hero-wrapper {
  height: 650px;
}

.hero-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-hero-logo {
  height: 157px;
  width: 169px;
}

.home-hero-header {
  height: 72px;
  width: 277px;
}

.home-hero-header-2 {
  height: 55px;
  width: 282px;
}

.home-hero-subheader {
  height: 40px;
  width: 280px;
  margin: 0 auto;
  padding: 10px 0px;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  background-color: #fff;
  color: #2b0056;
  text-align: center;
}

.tagline {
  margin: 0px 100px;
  text-align: center;
  line-height: 40px;
  color: #424447;
}

.tagline h2 {
  font-weight: 100;
}


/* Services, Projects, & Testimonials Sections */

.projects-header {
  text-align: center;
  font-weight: 100;
  margin: 100px 0px 70px;
  color: #3c3050;
}

.testimonials-header {
  text-align: center;
  font-weight: 100;
  color: #fff;
  padding: 100px 0px 60px;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: center;
}

.testimonials {
  background-color: #3C3050;
}

.testimonials-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 0px 80px;
}


/* Global Reach Hero Image */

.global-reach-hero-wrapper {
 height: 420px;
}

.global-reach-hero-wrapper .hero {
 background-attachment: fixed;
}

.global-reach-hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-reach-hero-content h1, h2 {
  font-weight: 100;
  text-align: center;
}

.global-reach-hero-content h1 {
  margin: 30px 0px;
}

.global-reach-hero-content h2 {
  margin: 10px 30px;
}


/* About Us Section */

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 0;
  background-color: #EFEFF1;
}

.about-content {
  display: flex;
  width: 80%;
}

.about-header {
  margin: 40px 0;
  color: #3c3050;
}

.technologies-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.technologies-header {
  width: 100%;
  margin: 40px 0;
  color: #3c3050;
}

.about-image {
  width: 80%;
  height: 600px;
  background-image: url("../../../public/images/who-we-are.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.founders-quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 260px;
  background-color: #3C3050;
  color: #fff;
  font-style: italic;
  text-align: center;
}

.founders-quote h3 {
  width: 80%;
}


/* Contact Section */

.home-contact {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-contact .button {
  width: 200px;
  background-color: #2ac3aa;
  color: #3a2a4f;
}
