.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  max-width: 100%;
}

.portfolio-header {
  margin-top: 20px;
}

.portfolio-nav {
  text-align: center;
  margin: 30px 0;
  .category {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    &:hover {
      color: #2ac3aa;
    }
  }
}

.portfolio-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  max-width: 100%;
}

.portfolio-image {
  margin: 0 5px;
  img {
    max-width: 300px;
  }
}

@media only screen and (min-width: 760px) {
  .portfolio-wrapper {
    margin: 0 100px;
  }
}
