.case-study {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.case-study .main-image {
  width: 100%;
  margin-bottom: 20px;
}

.case-study .main-image img {
  max-width: 100%;
}

.case-study-text hr {
  margin: 15px 0;
}

.expanded-text {
  /* TODO: Add in transition */
}

@media only screen and (min-width: 760px) {
  .case-study .main-image {
    width: 50%;
    margin: 0;
    padding-right: 40px;
  }


  .case-study-text {
    width: 50%;
  }
}
