.home-cta {
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-cta .button {
  width: 200px;
  background-color: #2ac3aa;
  color: #3a2a4f;
}
