.quiz-button {
  display: inline-block;
  margin: 0 20px;
}

input:checked + label > img {
  box-shadow: 0 0 25px #fff;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all .3s;
}

.question-audience-age {
  width: 100%;
}

.question-image-audience-age,
.question-image-audience-sex,
.question-image-style,
.question-image-product {
  border-radius: 50%;
}

.question form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-label-audience-age,
.question-label-audience-sex,
.question-label-audience-income {
  padding: 10px;
  border: 2px solid white;
  margin: 0 15px;
}

.question-label-audience-age {
  width: 150px;
}

.question-image {
  width: 180px;
  cursor: pointer;
}

.question-image-audience-age,
.question-image-style,
.question-image-product {
  width: 180px;
  margin: 0 40px;
}

.question-image-audience-sex {
  width: 80px;
}

.question-label-style {
  width: 100%;
}

.question-image-style {
  margin: 0 20px;
}

.question-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.question-audience-income .question-wrapper {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.question {
  label {
    color: #fff;
    font-size: 24px;
    margin: 10px 10px 24px;
  }
  input {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid white;
    border-radius: 2px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    padding: 24px;
    width: 100%;
  }
}

textarea {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid white;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  padding: 24px;
  width: 100%;
}

.question {
  input {
    width: 200px;
    height: 50px;
    margin: 10px 0 25px;
  }
  textarea {
    height: 140px;
    width: 80vw;
    resize: none;
    outline: none;
  }
  input::placeholder {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
  }
}

textarea::placeholder {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  font-family: Raleway, sans-serif;
}

.question input[type="checkbox"] {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@media only screen and (min-width: 780px) {
  .question input {
    width: 340px;
  }
  .question-audience-sex,
  .question-audience-income {
    width: 40%;
  }
  .question textarea {
    width: 40vw;
  }
  .checkboxes {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .multi-question-wrapper .question-audience-sex.question {
    margin-right: auto;
  }
}
