.blueprint h1,
.blueprint h2,
.blueprint p {
  color: #3c3c3b;

}
.blueprint-hero {
  height: 100vh;
  width: 100vw;
}

.blueprint-hero-title {
  padding: 50px 0;
  width: 100%;
  background-color: rgba(43, 0, 87, 0.7);
}

.blueprint-hero-title h1 {
  font-size: 60px;
  font-weight: 100;
  line-height: 64px;
  color: #fff;
}

.blueprint-intro {
  text-align: center;
  padding: 50px;
}

.blueprint-intro h2 {
  margin: 20px;
  font-size: 48px;
  line-height: 50px;
}

.blueprint-audience {
  display: flex;
  flex-wrap: wrap;
  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  background-color: #f5f5f5;
  height: 100vh;
}

@media only screen and (min-width: 780px) {

  .blueprint-hero {
    height: 80vh;
  }

  .blueprint-hero-title h1 {
    font-size: 90px;
    line-height: 95px;
  }
}
