.advice-slider {
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px 30px;
  text-align: center;
  color: #fff;
  background: -moz-linear-gradient(left, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  background: -webkit-linear-gradient(left, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  background: linear-gradient(to right, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  -webkit-clip-path: polygon(50% 9%, 0% 2%, 6% 100%, 94% 100%, 100% 0);
  clip-path: polygon(50% 9%, 0% 2%, 6% 100%, 94% 100%, 100% 0);
  margin-top: auto;
  transition: all 1s;
 }

 .advice-header {
   margin-bottom: 20px;
   text-align: center;
 }

 .advice-text {
   text-align: center;
 }

 @media only screen and (min-width: 760px) {
   .advice-slider {
     width: 80vw;
     padding: 80px 80px 30px;
   }
 }
