.advice-slider {
  width: 80vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 40px 40px;
  margin: 20px 0 0 0;
  background: -moz-linear-gradient(left, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  background: -webkit-linear-gradient(left, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  background: linear-gradient(to right, #0087b3 0%, #4cc0b8 50%, #0087b3 100%);
  color: #fff;
 }

 /*
 .advice-slider:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-bottom: 170px solid transparent;
    border-right: 80px solid #0087b3;
    width: 0;
 }

 .advice-slider:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 170px solid #0087b3;
    border-right: 80px solid transparent;
    width: 0;
}
*/

 .advice-header {
   display: flex;
   width: 100%;
   margin-bottom: 20px;
 }

 .advice-header img {
   margin-left: auto;
 }
